{% extends 'main/base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="container">
    <h3>Цель:</h3>
    <span><strong>Цель:</strong> Научиться использовать программные интерфейсы для доступа к базам данных. Научиться разрабатывать web-приложения с помощью фреймворка Django.
    </span>
    <hr>
    <h4>Вариант 7</h4>
    <span>Реализовать сайт со следующими страницами: административная страница для добавления / удаления / корректировки сообщений на сайте;
        пользовательская страница для поиска на сайте сообщений по ключевым словам.
    </span>
</div>

{% endblock %}